
.astound_map_picture
	.nectar_hotspot_wrap
		height: 30px !important
		width: 30px !important
	.nectar_hotspot
		span
			// display: none !important
			opacity: 0


	.nttip
		background: none !important
		box-shadow: none !important
		position: absolute !important
		margin: 0 !important
		padding: 0 !important
		line-height: 1.1 !important
		font-size: 16px !important
		color: $astound-blue !important
		font-weight: normal !important
		transform: none !important
		&:after
			content: ""
			position: absolute
			// bottom: -5px
			// left: 0
			width: 100%
			// border: 3px dotted $astound-blue
			border-color: $astound-blue
			border-style: dotted
		// &:before
		// 	content: ""
		// 	position: absolute
		.inner
			font-size: 16px !important
			color: $astound-blue !important
			white-space: nowrap !important
			padding-bottom: 5px
			+max-screen($hdpi)
				font-size: 14px !important
			+max-screen($mdpi)
				font-size: 14px !important
		&[data-tooltip-position="right"]
			top: 0
			left: 16px
			margin-top: -69px !important
			&:after
				height: 42px
				left: -2px
				top: 100%
				border-width: 2px 0px 0px 2px
		&[data-tooltip-position="left"]
			top: 0
			right: 16px
			margin-top: -69px !important
			&:after
				height: 42px
				right: -2px
				top: 100%
				border-width: 2px 2px 0px 0px
		&[data-tooltip-position="bottom"]
			bottom: 0
			left: 16px
			margin-bottom: -69px !important
			&:after
				height: 42px
				left: -2px
				bottom: 100%
				border-width: 0 0px 2px 2px
			.inner
				padding-top: 5px
				padding-bottom: 0

	.nectar_image_with_hotspots
		.nectar_hotspot_wrap:nth-child(7),
		.nectar_hotspot_wrap:nth-child(8),
		.nectar_hotspot_wrap:nth-child(9)
			.nttip
				display: none !important
			.nectar_hotspot
				width: 8px
				height: 8px
				margin: 11px
				animation: none !important
				&:before
					content: none !important
					display: none !important
					animation: none !important