.astound_blog_filter
	background-color: $astound-light-gray
	padding: 15px
	text-align: center
	list-style: none !important
	margin: 0 !important
	line-height: 1

	&-wrap
		padding: 0 !important
	li
		display: inline-block
		vertical-align: top
		font-size: 18px
		line-height: 1
	li + li
		border-left: 1px solid $white !important
	&-button
		font-size: 18px
		background: none !important
		border: none !important
		background: none
		padding: 0 15px
		color: $white
		font-size: 18px
		line-height: 1.1
		font-weight: normal
		cursor: pointer
		&.is-checked
			color: $astound-navy
			background: none !important


#post-area.masonry
	&.classic_enhanced .masonry-blog-item
		font-size: 16px
		min-height: 755px
		+max-screen($tablet)
			min-height: 840px
		+screen(800, $tablet)
			min-height: 1110px !important
		.excerpt
			font-size: 1.25em
			line-height: 1.8
		.article-content-wrap
			padding: 50px 50px 100px !important
			transform: none
			position: static !important
			overflow: hidden
			max-height: calc(100% - 77px)
		.inner-wrap
			border-radius: 10px !important
			height: 100%
		// .content-inner,
		.post-content
			height: 100%
	.masonry-blog-item.regular
		.img-link
			display: none !important
		.meta-category
			a
				position: absolute !important
				bottom: 40px
				left: 50px
				top: auto !important
				color: $astound-light-gray !important
				border-color: $astound-light-gray !important
				margin: 0 !important
				&:hover
					color: $white !important
					border-color: $astound-blue !important
		.post-header
			margin: -50px -50px 50px -50px
			padding: 50px
			min-height: 268px
			background-color: $astound-navy
			color: $white
			font-weight: 400
			font-size: .9em !important
			background-position: 50% 50%
			// background-size: cover
			background-size: 100% 100%
			background-repeat: no-repeat
			transition: background-size .7s cubic-bezier(.2,1,.22,1), transform .7s cubic-bezier(.2,1,.22,1)
			.title
				font-size: 2.5em !important
				line-height: 1.2
				color: $white
				transition: color .7s cubic-bezier(.2,1,.22,1)
				font-weight: 400
				padding-top: 10px
		&:hover .post-header
			background-size: 120% 120%
		&.category-in-the-news:hover .post-header .title,
		&.category-in-the-news_de:hover .post-header .title
			color: $astound-mint
		&.category-research .post-header,
		&.category-research_de .post-header
			background-image: url("./img/researach-bg.jpg")
		&.category-thought-leadership-blog .post-header,
		&.category-thought-leadership-blog_de .post-header
			background-image: url("./img/blog-bg.jpg")
		.post-meta
			border: none !important
			display: none !important
			.date,
			.nectar-love-wrap
				display: none !important
			.meta-author
				display: none !important
				font-weight: 600
				a
					font-size: 22px !important
					&:before
						content: "By "
				.icon-default-style
					display: none !important

	.masonry-blog-item.post.large_featured
		+screen(691, $tablet)
			min-height: 1232px
			width: 65.95% !important

			.img-link
				// padding-bottom: 100%
				width: 100% !important
				position: static !important
			.content-inner
				width: 100% !important
				position: static !important
				.article-content-wrap
					padding-top: 25px !important
			.post-header .title
				padding-top: 20px
				font-size: 2.2em
				padding-bottom: 0
		+screen(800, $tablet)
			min-height: 1110px !important
			width: 58.85% !important
			.img-link
				height: 374px !important
		+screen(690, 800)
			width: 47.7% !important
			.img-link
				height: 312px !important
		.article-content-wrap
			transform: none
			position: static
			overflow: hidden
			+max-screen($tablet)
				max-height: calc(100% - 398px)
				// max-height: 100%
				// height: calc(100% - 100px)
				overflow: hidden

		.post-featured-img
			background-color: $astound-navy !important
			background-size: 100% 100%
			background-repeat: no-repeat
			transition: background-size .7s cubic-bezier(.2,1,.22,1), transform .7s cubic-bezier(.2,1,.22,1)
		&.category-research .post-featured-img
			background-image: url("./img/researach-bg.jpg")
		&.category-thought-leadership-blog .post-featured-img
			background-image: url("./img/blog-bg.jpg")
		.meta-category
			a
				position: absolute
				bottom: 40px
				left: 50px
				top: auto !important
				color: $astound-light-gray !important
				border-color: $astound-light-gray !important
				margin: 0 !important
				&:hover
					color: $white !important
					border-color: $astound-blue !important
		.post-header
			font-weight: 400
			font-size: .9em !important
			.title
				font-weight: 400
				padding-top: 40px
				padding-bottom: 20px
				color: $astound-navy
				font-size: 2.7em !important
				line-height: 1
		.post-meta
			border: none !important
			display: none !important
			.date,
			.nectar-love-wrap
				display: none !important
			.meta-author
				display: none !important
				font-weight: 600
				a
					font-size: 22px !important
					&:before
						content: "By "
				.icon-default-style
					display: none !important


#post-area.masonry.classic_enhanced ,
.blog-recent[data-style*="classic_enhanced"]
	article.post
		+min-screen(1600)
			width: 23.125%
		+screen(1300, 1600)
			width: 30.83%
	article.post.large_featured
		+min-screen(1600)
			// width: 47.65% !important
			width: 72.375% !important
		+screen(1300, 1600)
			width: 96.5% !important

.post-template-default
	.page-header-bg-image
		// background-image: none !important
		background: none !important
		color: $dim-gray
	#page-header-bg
		background: none !important
		.inner-wrap
			color: $dim-gray !important
	&.single .heading-title[data-header-style="default_minimal"] .meta-category a
		color: $dim-gray 
		border-color: $dim-gray
		&:hover
			color: $white
			border-color: $astound-blue
	.section-title.blog-title
		display: flex
		flex-direction: column
		color: $dim-gray !important
		.meta-category,
		.entry-title,
		#single-below-header
			flex: 1
			font-weight: 100
		.entry-title
			order: 1
		#single-below-header
			order: 2
			font-size: 20px
			span
				font-size: 20px
				color: $dim-gray !important
		.meta-category
			order: 3
			margin-top: 50px
		a,
		h1
			color: inherit
	.blog_next_prev_buttons
		display: none !important
	.meta-comment-count
		display: none !important



.excerpt-custom
	&_sub_header,
	&_author_header
		font-weight: 700
		line-height: 1
	&_sub_header
		color: $astound-navy
		margin-bottom: 15px
