.testimonial_slider[data-style="minimal"] blockquote
	text-align: left
	+min-screen($mobile)
		padding: 0 25px 0 85px
		// position: relative
		&:before
			font-family: "svgfont"
			content: $svg-icon-open-quote
			position: absolute
			font-size: 45px
			color: $astound-light-gray
			left: 0
			top: 7px
	p
		color: $astound-navy
		padding-bottom: 10px
		font-size: 35px
		line-height: 1.4
	body & span
		display: inline
		font-size: 14px !important
		color: $astound-dark-gray
		font-weight: 700 !important
		&.title
			font-style: normal !important
			&:before
				content: ', '