//variables

//Resolution breakpoints
$hdpi: 1440
$mdpi: 1280
$tablet: 1025
$mobile: 760

// Sizes
$big-button-width: 164px;
$big-button-padding: 9px 42px!important



//Colors
$white: #ffffff
$black: #000000
$nobel: #999999
$gray: #777777
$charcoal: #444444
//astound colors
$astound-blue: #307FE2
$astound-dark-gray: #75787b
$astound-light-gray: #c8c9c7
$astound-navy: #1b365d
$astound-red: #d22630
$astound-orange: #e87722
$astound-yellow: #f4da40
$astound-mint: #6bbbae

$dim-gray: #6c6c6c
$nero: #282828
$tropical-blue: #99BFE5
$keppel: #6bbbae
$evening-sea: #285c4d

